# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
env/

# Database
db.sqlite3

# Environment Variables
.env

# VS Code
.vscode/

# Static & Media
media/
staticfiles/

# Python cache
*.log